<table class="table table-success table-striped ">
    <thead class="table-info">
    <tr>
        <th>Rental Id</th>
        <th>Company Name</th>
        <th>Full Name</th>
        <th>Brand Name</th>
        <th>Model Year</th>
        <th>Daily Price</th>
        <th>Rent Date</th>
        <th>Retrun Date</th>
        <th>Description</th>
        
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rental of rentalDetailDto">
           <td>{{rental.rentalId}}</td>
           <td>{{rental.companyName}}</td>
           <td>{{rental.fullName}}</td>
           <td>{{rental.brandName}}</td>
           <td>{{rental.modelYear}}</td>
           <td>{{rental.dailyPrice}}</td>
           <td>{{rental.rentDate}}</td>
           <td>{{rental.returnDate}}</td>
           <td>{{rental.description}}</td>
           
        </tr>
    </tbody>

</table>

