<div class="row">
    <div class="col">
        <label for="brandFilter" class="form-label">Select Brand</label>
        <select name="brandFilter" id="" class="form-control" [(ngModel)]="brandFilter" [value]='0'>
        <option value="{{car.brandName}}" *ngFor="let car of getDistinctByBrandName()">{{car.brandName}}</option>
        </select>
    </div>
    <div class="col">
        <label for="colorFilter" class="form-label">Select Color</label>
        <select name="colorFilter" id="" [(ngModel)]="colorFilter" class="form-control" [(ngModel)]="colorFilter" [value]='0'>
        <option value="{{car.colorName}}" *ngFor="let car of getDistinctByColorName()">{{car.colorName}}</option>
        </select>
    </div>
    <div class="col-12 mt-3">
        <button class="btn btn-info">Filter</button>
    </div>
</div>
<div class="mb-3">
    <label for="filterText" class="form-label">Cars</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="searching">
</div>
<div *ngIf="filterText" class="alert alert-success">
    {{filterText}}
</div>
<table class="table table-warning table-striped">
    <thead class="table-info">
        <tr>
            <th>Id</th>
            <th>Brand Name</th>
            <th>Color Name</th>
            <th>Model Year</th>
            <th>Daily Price</th>
            <th>Description</th>


        </tr>

    </thead>
    <tbody>

        <tr *ngFor="let car of carDetailDto | filterPipe:filterText| filterPipe:colorFilter| filterPipe:brandFilter">
            <td>{{car.carId}}</td>
            <td>{{car.brandName}}</td>
            <td>{{car.colorName}}</td>
            <td>{{car.modelYear}}</td>
            <td>{{car.dailyPrice}}</td>
            <td>{{car.description}}</td>
            <td><button class="btn btn-info" routerLink="/cars/images/{{car.carId}}">Details</button></td>
            <td><button class="btn btn-info" routerLink="/cars/updates/{{car.carId}}">Update</button></td>
        </tr>
    </tbody>
</table>